$armath-cyan: #00c8d7;
$armath-purple: #a32c87;
$armath-gray: #757575;

$button-bg: $armath-purple;
$button-hover: darken($armath-purple, 10%);


.wrapper {
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}

.button {
  background-color:$armath-cyan;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color:$armath-purple;
  }
}

.text {
  margin-top: 15px;
  font-size: 16px;
  color: #333;
}
